{{ template "chrome/header.html" . }}
<body lang="en" itemscope itemtype="http://schema.org/Article">
{{ template "chrome/subheader.html" . }}
{{ $baseurl := .Site.BaseUrl }}

<section id="main">
  <h1 itemprop="name" id="title">{{ .Title }}</h1>
  <div>
        <article itemprop="articleBody" id="content">
           {{ .Content }}
        </article>
  </div>
</section>

{{ template "chrome/meta_aside.html" . }}

{{if isset .Params "project_url" }}

<div id="outer_ribbon">
<div id="ribbon">
    <a href="{{ index .Params "project_url" }}" rel="me">Fork me on GitHub</a>
</div> </div>
{{ end }}

{{ template "chrome/footer.html" . }}
