        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> articles </span>
            </a>
            </li>
            <li>
            <a href="/project/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> projects </span>
            </a>
            </li>
            <li>
            <a href="/presentation/">
                <span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>
                <span> presentations </span>
            </a>
            </li>
        </ul>
