<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ template "chrome/meta.html" . }}

    <base href="{{ .Site.BaseUrl }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ template "chrome/head_includes.html" . }}
</head>
<body lang="en">

{{ template "chrome/subheader.html" . }}

<section id="main">
  <div>
      <h1 id="title">{{.Site.Title}}</h1>
    {{ range first 10 .Data.Pages }}
        {{ .Render "summary"}}
    {{ end }}
  </div>
</section>

<aside id="meta"> </aside>

{{ template "chrome/footer.html" }}
